export VOLTA_HOME="$PWD/.volta"
PATH_add "$VOLTA_HOME/bin"

if ! [ -f "$VOLTA_HOME/bin/volta" ]; then
  # Note: old versions of macOS have old curl/openssl which don't support modern
  # LetsEncrypt certs. We have checked in a cacert bundle that's newer as
  # advised in
  # https://blog.bytesguy.com/resolving-lets-encrypt-issues-with-curl-on-macos.
  # curl is used both directly in this script and inside the script that is run.
  CURL_CA_BUNDLE=.cacert.pem bash -c 'curl https://get.volta.sh/ | bash'
fi

# Lets you add more environment variables if you want. (For example, GITHUB_TOKEN
# for changesets.)
if [ -f .env ]; then
  dotenv .env
fi

# Allow you to run jest and other things in node_modules/.bin without npx.
layout node
