# This is a configuration file for direnv (https://direnv.net/), a tool that
# allows you to automatically set up environment variables based on the current
# directory. If you install and enable direnv, then this file will ensure that
# `nvm` is installed in your home directory and that the version of Node in
# .nvmrc is selected.

watch_file .nvmrc
local NVM_PATH="$HOME/.nvm/nvm.sh"
if ! [ -f "$NVM_PATH" ]; then
  echo "Installing NVM" >&2
  curl -o- https://raw.githubusercontent.com/creationix/nvm/master/install.sh | bash
fi
. "${NVM_PATH}"
nvm use

# Let you run npm-installed binaries without npx.
layout node
