# Ignore the compiled output.
dist/

# TypeScript incremental compilation cache
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage (from Jest)
coverage/

# JUnit Reports (used mainly in CircleCI)
reports/
junit.xml

# Node modules
node_modules/

# Mac OS
.DS_Store

# Intellij Configuration Files
.idea/

# API Key files
.env

package-lock.json