# This is a config file for "mise-en-place": https://mise.jdx.dev/
# It pins the version of Node and can be used to run other tools as well.
# It's what we use to set up tools in CI.

[tools]
node = "22.15.0"

[env]
# Put binaries from npm-installed packages on PATH (eg `changeset`).
_.path = ["{{config_root}}/node_modules/.bin"]
