# This is a config file for "mise-en-place": https://mise.jdx.dev/
# It pins the version of Node and can be used to run other tools as well.
# It's what we use to set up tools in CI.

[tools]
node = "24.14.0"
"ubi:codecov/codecov-cli" = "10.4.0"

[env]
# Put binaries from npm-installed packages on PATH (eg `changeset`).
_.path = ["{{config_root}}/node_modules/.bin"]
